@font-face {
  font-family: 'MadaniArabic-SemiBold';  
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Semi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Regular';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Amiri', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  direction: rtl;
   
}

/* $$$$ Right Menu $$$*/
.app-wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}
.navMenu{
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
margin-right: -65px;

}

.right-menu {
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
width: 250px;
height: 100vh;
color: white;
padding: 20px;
box-sizing: border-box;
direction: rtl;
}
.menu-logo{
width: 205px;
height: 23px;
flex-shrink: 0;
color:black;
border-bottom: 1px solid #F1F5F9;
padding-bottom: 55px;
font-family: MadaniArabic-SemiBold;
}
.list-group{
margin-right: -45px;
}
.menu-title{
color: var(--greyscale-400, #94A3B8);
font-family: MadaniArabic-SemiBold;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
padding-top: 25px;
padding-bottom: 20px;
}
.menu-item {  
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
}
.menuLastItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
padding-bottom: 20px;
}
.menuLastItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);

}
.menuSettingsItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
margin-right: 39px;

}
.menuItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);
}

.menu-item:last-child {
  border-bottom: none;
}
.ulElementLogo{
width: 20px;  
height: 20px;  
}
.ulActiveElement{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
 
.ulElement{
color: var(--greyscale-500, #64748B);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 13px;
font-style: normal;
font-weight: 200;
line-height: 160%;  
letter-spacing: 0.2px;
}
.lastItemBorder{
  border-top: 1px solid #F1F5F9;
  width:218px;
  margin-top: 18px;
  margin-bottom: 18px;
}
  /* $$$$ Right Menu $$$$*/

  /* $$$$ Main Page (الرئيسية)  $$$$ */
.mainPage{
  flex: 1;
  padding: 20px;
} 
.mainPageTitle{
color: var(--greyscale-900, #0F172A);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
letter-spacing: 0.2px;
}
.searchInput{
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
}
.input-box{
position: relative; 
color: var(--greyscale-500, #64748B);
text-align: right;
 
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

.input-box i {
position: absolute;
right: 13px;
top:12px;
color:#ced4da;
width: 20px;
height: 20px;
flex-shrink: 0;

}
.inputSearch{
padding-right: "40px";
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
padding-right: 40px;
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
}
 
  
  /* $$$$ Main Page (الرئيسية) $$$$ */


  