@font-face {
  font-family: 'MadaniArabic-SemiBold';  
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Semi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Regular';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Medium';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-ExtraLight';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Extra-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Light';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN Next LT W23';
  src: url('./Assets/fonts/din-next-lt-w23-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Amiri', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  direction: rtl;
  overflow-x: hidden;
}

/* $$$$ Right Menu $$$*/
.app-wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}
.navMenu{
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
margin-right: -65px;

}

.right-menu {
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
width: 250px;
height: 100vh;
color: white;
padding: 20px;
box-sizing: border-box;
direction: rtl;
}
.menu-logo{
width: 205px;
height: 23px;
flex-shrink: 0;
color:black;
border-bottom: 1px solid #F1F5F9;
padding-bottom: 55px;
font-family: MadaniArabic-SemiBold;
}
.list-group{
margin-right: -45px;
}
.menu-title{
color: var(--greyscale-400, #94A3B8);
font-family: MadaniArabic-SemiBold;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
padding-top: 25px;
padding-bottom: 20px;
}
.menu-item {  
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
}
.menuLastItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
padding-bottom: 20px;
}
.menuLastItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);

}
.menuSettingsItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
margin-right: 39px;

}
.menuItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);
}

.menu-item:last-child {
  border-bottom: none;
}
.ulElementLogo{
width: 20px;  
height: 20px;  
}
.ulActiveElement{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
 
.ulElement{
color: var(--greyscale-500, #64748B);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 13px;
font-style: normal;
font-weight: 200;
line-height: 160%;  
letter-spacing: 0.2px;
}
.lastItemBorder{
  border-top: 1px solid #F1F5F9;
  width:218px;
  margin-top: 18px;
  margin-bottom: 18px;
}
  /* $$$$ Right Menu $$$$*/

  /* $$$$ Header Component  $$$$ */
.mainPage{
  flex: 1;
  padding: 20px;
} 
.mainPageTitle{
color: var(--greyscale-900, #0F172A);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
letter-spacing: 0.2px;
}
.searchInput{
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
}
.input-box{
position: relative; 
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

.input-box i {
position: absolute;
right: 13px;
top:12px;
color:#ced4da;
width: 20px;
height: 20px;
flex-shrink: 0;

}
.inputSearch:focus{
  outline: none;
}
.inputSearch{
padding-right: "40px";
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
padding-right: 40px;
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
}
.notificationIcon{
display: flex;
width: 24px;
height: 45px;
padding: 3px 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.notificationDot{
width: 8px;
flex-shrink: 0;
fill: var(--, linear-gradient(180deg, #257659 0%, #124734 100%));
stroke-width: 1px;
stroke: var(--additional-white, #FFF);
z-index: 99999;
margin-left: -12px;
height: 36px;
position: absolute;
}
.profile-section{
display: contents;
width: 182px;
justify-content: space-between;
align-items: center;

}
.profile-photo{
width: 40px;
height: 40px;
flex-shrink: 0;
border-radius: 40px;
background:  lightgray 50% / cover no-repeat;
margin-right: 21px;

} 
.user-info{
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 2px;
}
.user-name{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-right: 15px;

}
.user-title{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left: 42px;
margin-top: -5px;

}
.arrow-down{
width: 16px;
height: 16px;
flex-shrink: 0;
position: unset;
}
  /* $$$$ Header Component $$$$ */

  /* $$$$ Notification Component $$$$ */ 
  /* $$$$ Notification Component $$$$ */ 

.notification-popUp{
  position: fixed;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  top: 0px;
  left: 5px;  
  margin-top: 111px;
}
.notification-header{
  display: flex;
}
.notification-title{
color: var(--black-01, #2C3659);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-top: 15px;
padding-right: 15px;
}
.notification-counter{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
padding-right: 15px;

}
.notification-settings{
width: 20px;
height: 20px;
flex-shrink: 0;
position: absolute;
left: 5px;
margin-top: 15px;
margin-left: 15px;
}
 

.center-content {
  display: flex;
  align-items: center;
}

/* Add margin to separate elements */
.margin-bottom {
  margin-bottom: 20px;
}
.new-notification-icon{
display: flex;
width: 38px;
height: 38px;
padding: 8.5px 8px 7.5px 8px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: #EAFFE3;
margin-top: -26px;

}
.new-notification{
width: 252px;
color: var(--black-01, #2C3659);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 179%;
padding-right: 10px;
padding-bottom: 0px;
}
.mission-title{
width: 252px;
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.mission-date{
width: 252px;
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
/* $$$$ Mission Component $$$$$ */
#mission-attachment{
margin-top:21px;
margin-right: 14px;
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
letter-spacing: 0.2px;
}
.attach-profile{
width: 38px;
height: 38px;
flex-shrink: 0;
border-radius: 38px;
background: url('Assets/images/Ellipse\ 3.svg'), lightgray 50% / cover no-repeat, #70D44B;
}
#mission-attch-container{
margin-top:21px;
margin-right: 1px;
width: 50%;
}
#mission-attch-section{
display: flex;
width: 340px;
height: 100px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #F1F5F9;
background: var(--white-general, #FFF);
}


#mission-finish-attach-container{
margin-top:21px;
}
#mission-finish-attach-section{
display: flex;
width: 340px;
height: 100px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #F1F5F9;
background: var(--white-general, #FFF);
margin-left: 11px;
  }
.missionPage{
  margin-top:20px;
}
.mission-active{
display: inline-flex;
height: 40px;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F1FAEE;
}
#mission-span-active{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
.mission-type{
display: inline-flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
}

#mission-type-span{
color: var(--greyscale-500, #64748B);
text-align: right;  
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
letter-spacing: 0.2px;
}
.filter-container{
display: flex;
width: 99px;
height: 40px;
padding: 8px 12px 8px 17px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F8FAFC;
}
.filter-container-span{
color: var(--greyscale-500, #64748B);
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
}
.Add-New-Mission{
  display: flex;
width: 134px;
height: 40px;
padding: 8px 12px 8px 17px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #124734;
}
.Add-New-Mission-btn{
color: #FFF;
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.2px;
}
.missions-section{
width: 100%;
height: 100%;
}
.mission-container{
margin-top: 25px;
width: 1205px;
height: 121px;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
}
.mission-span-1{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.mission-span-2{
color: var(--black-01, #2C3659);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-child{
  padding:10px 30px;
}
.mission-info{
display: inline-flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 10px;
}
.mission-price{
display: flex;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: rgba(112, 212, 75, 0.11);
margin-left: 10px;
}
.mission-price-span{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-info-child{
display: flex;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: var(--lgrey-02, #F9F9F9);
margin-left: 10px;

}
.mission-info-child-span{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
padding-right: 5px;
}
.location-icon{
width: 11px;
height: 13.57px;
stroke-width: 1.5px;
stroke: #9BA0B1;
}

.mission-status{
display: flex;
width: 81px;
height: 28.459px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: var(--secondary-amber-50, #FFFBEB);
margin-top: 10px;
margin-left: 10px;

}
.mission-status-span{
color: var(--secondary-amber-500-base, #F6A723);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.mission-status-finished-span{
color: #70D44B;
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 13.292px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.mission-status-finished{
display: flex;
width: 113px;
height: 34px;
padding: 10.633px 15.95px;
justify-content: center;
align-items: center;
gap: 13.292px;
flex-shrink: 0;
border-radius: 66.458px;
background: rgba(112, 212, 75, 0.10);
margin-top: 10px;
margin-left: 10px;
}
.mission-status-Evaluation-span{
color: var(--secondary-amber-500-base, #F6A723);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.mission-status-Evaluation{
display: flex;
width: 81px;
height: 28.459px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: var(--secondary-amber-50, #FFFBEB);
margin-top: 10px;
margin-left: 10px;
}
.mission-status-in-progress{
display: flex;
width: 104px;
height: 28px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: rgba(195, 242, 203, 0.50);
margin-left: 10px;
}
.mission-status-span-in-progress{
color: var(--green-01, #4CD964);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.assigned-to-img{
display: flex;
height: 19px;
justify-content: flex-end;
align-items: flex-end;
gap: -4.75px;
border-radius: 19px;
background: lightgray 50% / cover no-repeat, #70D44B;
}
.mission-assigned-span-child-1{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-left: 3.5px;
}
.mission-assigned-span-child-2{
color: var(--da-black-03-line, #292E32);
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-assigned{
display: flex;
width: 81px;
height: 28.459px;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: var(--lgrey-02, #F9F9F9);
margin-top: 10px;

}
.mission-assigned-span{
color: var(--grey-01, #A7AEC1);
text-align: right;
 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;  
}
.mission-assigned-more-one{
display: flex;
width: 100px;
height: 28px;
padding: 5px 15.364px 4px 14px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.assinged-more-two{
  margin-right: -9px;
}
.assinged-more-three{
  margin-right: -9px;
}
.mission-status-late{
display: flex;
width: 104px;
height: 28px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: rgba(230, 0, 25, 0.09);
}
.mission-status-span-late {
color: var(--red-01, #E60019);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 17.514px */
}
.more-icon{
  position: absolute;
  left: -20px;
}
/* $$$$ Mission Details Component $$$$ */
.Details-PopUp-Container{
width: 802px;
flex-shrink: 0;
margin: auto;
width: 50%;
padding: 10px;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: -190px;
position: absolute;
z-index: 999999999999999;
right: 30%;
left: 50%;
top: 40%;
height: auto;
}
 
.mission-details{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
width: 25%;
}
.mission-finish-status-span{
  color: var(--secondary-amber-500-base, #70D44B);
  text-align: center;
  font-family: MadaniArabic-Regular;
  font-size: 10.946px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  
}
.mission-finish-status{
  display: flex;
  width: 104px;
  height: 28px;
  padding: 8.757px 13.135px;
  justify-content: center;
  align-items: center;
  gap: 10.946px;
  flex-shrink: 0;
  border-radius: 54.73px;
  background: rgba(195, 242, 203, 0.50);
  margin-left: 10px;

}
.mission-details-span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.details-popup-border{
border-top: 1px solid #F1F5F9;
width:100%;
margin-top: 18px;
margin-bottom: 18px;
}
#mission-range{
  margin-top: 25px;
  margin-right: 1px;
}
#mission-range-span{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
}
#mission-details-range{
  margin-top: 21px;
}
.assign-mission-to{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.2px;
}
#assign-mission-to{
margin-top:21px;
margin-right: 1px;
}
.assign-date{
color: #A7AEC1;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}
#assign-date{
margin-top:21px;
margin-right: 1px;
}
#assign-people{
margin-top:21px;
margin-right: 1px;
}
.assigned-user{
color: var(--da-black-03-line, #292E32);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.assign-user-photo{
margin-left: 5px;
width: 26px;
height: 26px;
flex-shrink: 0;
border-radius: 26px;
background:  lightgray 50% / cover no-repeat, #70D44B;
}
.assign-user-name{
  margin-left:35px;
}
.attach-user{
color: var(--da-black-03-line, #292E32);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%;  
margin-top: 20px;
margin-right: 20px;
}
.attach-userName{
  margin-left:35px;
}
.attach-userPhoto{
margin-left: 5px;
margin-top: 15px;
width: 26px;
height: 26px;
flex-shrink: 0;
border-radius: 26px;
background:  lightgray 50% / cover no-repeat, #70D44B;
}
.attach-farmPhoto{
  margin-left: 5px;
  margin-top: 15px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 26px;
  background:  lightgray 50% / cover no-repeat, #70D44B; 
}
attach-farm{
  margin-left:35px;
  
}
.attach-status{
color: #C11818;
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
margin-right: 32px;
}
.farm-owner{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
margin-top: -10px;
margin-right: 32px; 
width: 100%;

}
.farm-owner-date{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
margin-right: 9.5px;
}
.send-alert{
width: 90px;
height: 45px;
display: inline-flex;
padding: 6.769px 14.038px 7.154px 14.038px;
justify-content: center;
align-items: center; 
border-radius: 12.692px;
background: #70D44B; 
margin-top: 30px;
margin-right: 75px;
}
.send-alert span{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 11.846px;
font-style: normal;
font-weight: 400;
line-height: 13.538px;  
}
.mark-completed{
display: flex;
padding: 8px 27.5px 9px 26.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #9BA0B1;
margin-left: 10px;
margin-top: 10px;
width: 25%;
}
.mark-completed span{
 color: #FFF;
 font-family: MadaniArabic-Medium;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px;
}
.mark-completed-evaluation{
display: flex;
padding: 8px 27.5px 9px 26.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-left: 10px;
margin-top: 10px;
width: 25%;
}
.mark-completed-evaluation span{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;  
}
.evaluation{
display: flex;
padding: 8px 27.5px 9px 26.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-left: 10px;
margin-top: 10px;
width: 25%;
}
.evaluation span{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;  
}
.download-section{
width: 90px;
height: 45px;
flex-shrink: 0;
background: var(--white-general, #FFF);
display: inline-flex;
padding: 6.769px 14.038px 7.154px 14.038px;
margin-top: 30px;
margin-right: 75px; 
justify-content: center;
align-items: center; 
}
 
#mission-description{
margin-top:21px;
margin-right: 14px;
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
letter-spacing: 0.2px;
}
#mission-description-content{
margin-right: 14px;
}
.mission-description-content{
align-self: stretch;
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
#mission-button-action{
margin-right: 14px;
margin-top:21px;
margin-bottom: 25px;
}
.agree-btn{
display: inline-flex;
padding: 8px 32px 9px 32px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-left: 10px;
}
.decline-btn{
display: flex;
width: 131px;
height: 53px;
padding: 8px 41px 9px 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
background: #C11818;
}
.agree-decile-title{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
/* $$$$ Mission Details Component $$$$ */

/* $$$$ Login Component $$$$ */
.half, .half .container > .row 
{
  height: 100vh;
}
.half .contents, .half .bg 
{
 width: 50%;
}
.half .contents .form-group, .half .bg .form-group {
overflow: hidden;
margin-bottom: 0;
border: 1px solid #efefef;
padding: 15px 15px;
border-bottom: none;
position: relative;
}
.half .contents .form-group label, .half .bg .form-group label {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; 
}
.half .contents .form-group input:focus + label, .half .bg .form-group input:focus + label
{
margin-top: -20px;
}
.half .contents .form-group.first, .half .bg .form-group.first 
{
border-top-left-radius: 7px;
border-top-right-radius: 7px; 
}
.half .contents .form-group.last, .half .bg .form-group.last
 {
 border-bottom: 1px solid #efefef;
 border-bottom-left-radius: 7px;
 border-bottom-right-radius: 7px;
 }
.half .contents .form-group label, .half .bg .form-group label {
font-size: 12px;
display: block;
margin-bottom: 0;
color: #b3b3b3; 
}
.half .contents .form-group.field--not-empty label, .half .bg .form-group.field--not-empty label
{
margin-top: -20px; 
}
.half .contents .form-control, .half .bg .form-control 
{
border: none;
padding: 0;
font-size: 20px;
border-radius: 0;
 }
.half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus 
{
outline: none;
-webkit-box-shadow: none;
box-shadow: none; 
}

.half .bg {
width: 639px;
height: 976px;
flex-shrink: 0;

}

.half a {
color: #888;
text-decoration: underline;
 }

.half .btn {
height: 54px;
padding-left: 30px;
padding-right: 30px; 
}

.half .forgot-pass {
position: relative;
top: 2px;
font-size: 14px;
}
.social-login a {
display: block;
text-decoration: none;
display: block;
position: relative;
text-align: center;
color: #fff;
margin-bottom: 10px;
}
.social-login a:hover 
{
color: #fff;
}
.social-login a.facebook {
background: #3b5998; 
}
.social-login a.facebook:hover {
background: #344e86;
}
.social-login a.twitter 
{
background: #1da1f2;
}
.social-login a.twitter:hover 
{
background: #0d95e8;
}
.social-login a.google {
background: #ea4335; 
}
.social-login a.google:hover {
background: #e82e1e;
}

.control {
 display: block;
 position: relative;
 padding-left: 30px;
 margin-bottom: 15px;
 cursor: pointer;
 font-size: 14px; 
}
.control .caption {
 position: relative;
 top: .2rem;
 color: #888;
 }

.control input {
 position: absolute;
 z-index: -1;
 opacity: 0;
 }

.control__indicator {
 position: absolute;
 top: 2px;
 left: 0;
 height: 20px;
 width: 20px;
 background: #e6e6e6;
 border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #007bff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1a88ff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

.login-img{  
width: 453px;
height: 181px;
flex-shrink: 0;
margin-top: 80px;
margin-right: 135px;
}
.content-container{
margin-top: -148px;
margin-left: 32px;
}
.arabic-home-span{
text-align: center;
color: #F3EFA1;
font-family: MadaniArabic-Medium;
font-size: 31.079px;
font-style: normal;
font-weight: 400;
line-height: 39.257px;
margin-right: 282px;

}
.arabic-home-span-1{
color: #FFF;
text-align: center;
font-family: MadaniArabic-ExtraLight;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
margin-right: 172px;
margin-top: 12px;
position: absolute;

}
.arabic-home-h3{
color: #FFF;
text-align: center;
font-family: MadaniArabic-Medium;
font-size: 31.079px;
font-style: normal;
font-weight: 400;
line-height: 39.257px;
}
.content-slider{
margin-top: 150px;
 margin-right: 350px;
}
.big-section{
width: 100%;
height: 40px;
flex-shrink: 0;
margin : 45px 45px 45px 45px

}


/* New Version For Login Component  */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:45px 45px 45px 45px;
}
 
.login-info {
padding: 20px;
text-align: center;
background-color: #124734;
}
.img-1 {
max-width: 100%;
height: auto;
}
.dagin-platform-icon{
width: 118px;
height: 28px;
flex-shrink: 0;
background: url('Assets/images/WhatsApp\ Image\ 2023-05-20\ at\ 12.57\ 1.png'), lightgray 50% / cover no-repeat;
}
.dagin-word{
color: #05A357;
font-family: MadaniArabic-SemiBold;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%;
letter-spacing: 0.2px;
}
.welcome-to{
color: var(--greyscale-900, #1A202C);
text-align: center;
font-family: MadaniArabic-SemiBold;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 40px */
letter-spacing: 0.2px;
}
.register-hightlight{
color: var(--greyscale-600, #718096);
text-align: center;
font-family: MadaniArabic-Light;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.3px;
}

/* $$$$ Login Component $$$$ */

/* $$$$ Evaluation Pop up container $$$$ */
.Evaluation-PopUp-Container{
width: 802px;
flex-shrink: 0;
margin: auto;
width: 50%;
padding: 10px;
border-radius: 10px;
background: var(--white-general, #aa2020);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: -190px;
position: absolute;
z-index: 999999999999999;
right: 30%;
left: 50%;
top: 40%;
height: auto;
}
.isActiveEvaluation{
display: flex;
width: 113px;
height: 34px;
padding-top: 4px;
justify-content: center;
align-items: center;
text-align: center;
gap: 13.292px;
flex-shrink: 0;
margin-left: 10px;
}
.satisfied span{
color: #70D44B;
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 13.292px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.normal-eval{
display: flex;
width: 113px;
height: 34px;
padding-top: 4px;
justify-content: center;
align-items: center;
text-align: center;
gap: 13.292px;
flex-shrink: 0;
border-radius: 66.458px;
background: #F9F9F9;
margin-left: 10px;

}
.normal-eval span{
color: #83808E;
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 13.292px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 21.266px */
}
.send-Evaluation{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
padding: 8px 30.5px 9px 42.5px;
justify-content: center;
align-items: center;
text-align: center;
border-radius: 15px;
background: #124734;
}

/* $$$$ Add New Mission Component $$$$ */
.Add-M-Details{
display: flex;
/*position: absolute; */
width: 1128px;
height: 550px;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: 22px;
margin-right: 25px;
}

.Add-M-Header{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
margin-top: 15px;
margin-right: 15px;
}
.Add-M-Header span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.m-header-border{
border-top: 1px solid #F1F5F9;
width:107%;
margin-top: 18px;
margin-bottom: 18px;
}
.m-type{
 font-family:MadaniArabic-Regular;
}
.select-m-type{
display: flex;
margin-right: 15px;
border-radius: 15px;
border: 1px solid #E2E2E2;
background: #FFF;
height: 40px;
width: 90%;
}
.select-m-type span{
color: #333;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 6px;
margin-right: 10px;
}
.arrow-m{
display: flex;
width: 16px;
height: 22px;
padding: 5px 2.458px 5.753px 3px;
flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 10px;
margin-left: 10px;
}
.m-address{
  margin-top: 25px;
}
.m-title-input{
justify-content: end;
align-items: center;
width: 85%;
margin-right: 18px;
height: 48px;
padding-right: 5px;
border-radius: 15px;
border: 1px solid #E2E2E2;
background: #FFF;
}
.m-title-input::placeholder{
position: absolute;
color: #9BA0B1;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-right: 10px;
}
.m-finish-date{
justify-content: center;
width: 80%;
}
.rmdp-input{
  width: 85%;
}
.date-picker-input{
display: flex;
width: 498px;
height: 48px;
padding: 17px 23px 17px 26px;
justify-content: center;
align-items: flex-start;
gap: 339px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #E2E2E2;
background: #FFF;
background-image: url('Assets/images/calendar-minus\ 1.svg');
background-size: 4%;  
background-repeat: no-repeat;
background-position: 20px center; 
padding-left: 5px;
}
.m-details{
justify-content: center;
align-items: center;
display: flex;
width: 1035px;
height: 169px;
padding: 22px 23px 126px 24px;
flex-shrink: 0;
margin-right: 18px;
}
.m-details::placeholder{
position: absolute;
color: #9BA0B1;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 988px;
flex-shrink: 0;
margin-right: 18px;
margin-top: 7px;
}
.range-Header{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
margin-top: 15px;
margin-right: 15px;
}
.range-Header span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.range-assign{
position: absolute;
width: 1128px;
height: 550px;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #381f1f);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: 22px;
margin-right: 25px;
}
.assign-m-header{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
margin-top: 15px;
margin-right: 15px;
}
.assign-m-header span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.m-range{
font-family:MadaniArabic-Regular;
}
.select-m-range{
display: flex;
margin-right: 15px;
border-radius: 15px;
border: 1px solid #E2E2E2;
background: #FFF;
height: 45px;
width: 460%;
}
.select-m-range span{
color: #333;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 9px;
margin-right: 23px;
}
.select-m-assign{
display: flex;
margin-right: 15px;
border-radius: 15px;
border: 1px solid #E2E2E2;
background: #FFF;
height: 45px;
width: 460%; 
margin-bottom: 40px;
}
.select-m-assign span{
color: #333;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 9px;
margin-right: 23px;
}
.m-assign{
font-family:MadaniArabic-Regular;
}
.m-range-assign{
display: flex;
width: 1128px;
height: auto;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: 22px;
margin-right: 25px; 
}
.m-range-border{
border-top: 1px solid #F1F5F9;
width:510%;
margin-top: 18px;
margin-bottom: 18px; 
}
.m-financial-compensation{
display: flex;
width: 1128px;
height: auto;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: 22px;
margin-right: 25px;  
}
.financial-m-header{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
margin-top: 15px;
margin-right: 15px;
}
.financial-m-header span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.m-financial{
font-family:MadaniArabic-Regular;
}
.financial-input{
justify-content: center;
background-image: url('Assets/images/جنيه.png');
background-size: 3%;  
background-repeat: no-repeat;
background-position: 20px center;  
margin-right: 18px;
display: inline-flex;
height: 55px;
padding: 17px 23px 17px 22px;
justify-content: center;
align-items: flex-start;
gap: 943px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #E2E2E2;
width: 430%;
}
.exceptional-performance{
color: #333;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.exceptional-input{
  background-color: #70D44B;
}
/* The switch - the box around the slider */
.switch {
position: absolute;
display: inline-block;
width: 45px;
height: 20px;
margin-top: 5px;
margin-right: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #70D44B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #70D44B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
.m-motivation{
  font-family:MadaniArabic-Regular;
  }
.motivation-input{
justify-content: center;
background-image: url('Assets/images/جنيه.png');
background-size: 3%;  
background-repeat: no-repeat;
background-position: 20px center;  
margin-right: 18px;
display: inline-flex;
height: 55px;
padding: 17px 23px 17px 22px;
justify-content: center;
align-items: flex-start;
gap: 943px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #E2E2E2;
width: 430%;
}

.m-submit{
display: flex;
width: 1128px;
height: auto;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: 22px;
margin-right: 25px;
}
.m-submit-btn{
display: inline-flex;
padding: 8px 37.5px 9px 37.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
margin-top: 18px;
margin-right: 18px;
}
.m-cancel-btn{
display: flex;
width: 135px;
height: 35px;
padding: 8px 44px 9px 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #EEE;
background: #FFF;
color: #9BA0B1;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
margin-right: 10px;
margin-bottom: 10px;
}
 
/* $$$$ Add New Mission Component $$$$ */
 

  /* $$$$ New Login Component $$$$ */
.right-login{
  background-color: #124734;
  height: 100vh;
}
.left-login{
  height: 100vh;

}
.welcome-login{
  width: 35%;
  text-align: center;     
  background-repeat: no-repeat;
  background-position: 12px center;   
  z-index: 999999999999999999;
  margin-top: -350px;
}
.welcome-login h3{
color: #FFF;
text-align: center;
font-family: MadaniArabic-Medium;
font-size: 31.079px;
font-style: normal;
font-weight: 400;
line-height: 39.257px; 
margin-top: 30px;
margin-left: -15px;
}
.arabic-home{
  color: #F3EFA1;
  font-family: MadaniArabic-Medium;
  font-size: 31.079px;
  font-style: normal;
  font-weight: 400;
  line-height: 39.257px;

}
.welcome-info{
  color: #FFF;
  text-align: center;
  font-family: MadaniArabic-ExtraLight;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;  
  position: absolute;
  margin-left: 25px;
  margin-top: 17px;
  left: 60%;
}
.login-frame{
  position: absolute;
  left: 60%;
}
.welcome-slider{
  margin-top: 100px;
  
}
.last-frame{
  position: absolute;
  left: 95%;
  margin-top: 100px;
}

.gold-frame{
    position: absolute;
    width: 600px;
}
.dagin-plaform{
width: 118px;
height: 28px;
flex-shrink: 0;
background: url(Assets/images/WhatsApp\ Image\ 2023-05-20\ at\ 12.57\ 1.png), lightgray 50% / cover no-repeat;
margin-top: 33px;
margin-right: 50px;
}
.login-form{
   margin-top: 100px;
   justify-content: center;
   margin-right: 300px;
}
.login-form h1{
color: var(--greyscale-900, #1A202C);
text-align: center;
font-family: MadaniArabic-SemiBold;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%; 
letter-spacing: 0.2px;
}
.login-form span{
align-self: stretch;
color: var(--greyscale-600, #718096);
text-align: center;
font-family: MadaniArabic-Light;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.3px;
margin-right: 30px;
}
.login-phone{
display: flex;
width: 427px;
padding: 10px 35px 16px 30px;
justify-content: flex-start;
align-items: flex-start;
gap: 9px;
border-radius: 15px;
border: 1px solid var(--greyscale-300, #E2E8F0);
background-image: url(Assets/images/about\ phone.svg);
background-position: 400px center;
background-size: 4%;  
background-repeat: no-repeat;
margin-top: 25px;
margin-right: -100px;

}
.login-password{
width: 427px;
height: 56px;
padding: 10px 35px 16px 30px;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid var(--greyscale-300, #E2E8F0);
background-image: url(Assets/images/lock\ 01.svg);
background-position: 400px center;
background-size: 4%;  
background-repeat: no-repeat;
margin-top: -10px;
margin-right: -100px;
}
.forget-pw{
position: absolute;
color: #05A357;
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.2px;
margin-right: -95px;
margin-top: 10px;
text-decoration: none;
}
.remember-me{
position: absolute;
color: #1A202C;
font-family: DIN Next LT W23;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: 0.2px;
margin-top: 10px;
margin-right: 250px;
padding-left: 10px;
}
.remember-input{
  margin-right: 5px;
}
.sign-in-btn{
display: flex;
width: 427px;
padding: 18px 0px 14px 0px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-top: 50px;
margin-right: -95px;
color: var(--others-white, #FFF);
}
.toggle-password{
  position: absolute;
  left: 125px;
  margin-top: 5px;
}
/*$$$$ Mission Range pop-up $$$$*/
.mission-header-range{
  display: inline-flex;
}
.mission-range{  
border-radius: 10px;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);   
position: fixed;
z-index: 999999999999999;  
transform: translateX(-50%);
top: 50px;   
left: 50%;  
right: 3%;
height: auto;
width: 800px;
}
.range-border{
border-top: 1px solid #F1F5F9;
width:100%;
margin-top: 18px;
margin-bottom: 18px;
}
.select-area{
color: var(--black-01, #2C3659);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}
.cities-search{
display: flex;
width: 90%;
margin-right: 20px;
height: 48px;
padding: 0px 35px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
background-image: url(Assets/icons/Search.svg);
background-size: 3%;  
background-repeat: no-repeat;
/*background-position:  right center;  */
background-position: calc(100% - 10px) center; /* Adjust the pixel value as needed */

}
.cities-search::placeholder{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.cities-search:focus{  
  border-color: unset;
}
.custom-border {
 border-bottom: 2px solid #F5F5F5; 
 width: 50%; 
 color: var(--black-01, #2C3659);
 text-align: right;
 font-family: MadaniArabic-SemiBold;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 130%; /* 20.8px */
}
.mark-city{
margin-left: 30px;
}
.mark-city:checked {
  background-color: #4CAF50; /* Specify the background color for the checked state */
  color: white; 

}
/*$$$$ Check box $$$$ */

.checkbox {
  padding-left: 60px;
  padding-bottom: 12px;
  overflow: hidden;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -15px;
  /* border: 1px solid #cccccc; */
  border-radius: 3px;
  background-color: #4CAF50;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -17px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #d9534f;
  border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
}

.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f;
}

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e;
}

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c;
}
/*$$$$ Check box $$$$ */
.scrollable-list{
  overflow-y:scroll;
   height: 20%;
}
 

/*$$$$ Mission Range pop-up $$$$*/

/*$$$$ options-container $$$$ */
#options-container{
width: 30%;
border-radius: 8px;
background: var(--foundation-neutral-0, #FFF);
box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.10);
}
.mission-options-el{
height: 20px;
width: 208px;
color: #64748B;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
.option-txt{
position: absolute;
width: 160px;
color: #64748B;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
cursor: pointer;

}
.option-txt-danger{
width: 131px;
color: #EB4335;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 18px */
}
.hyperspeed-btn{
background-color: unset;
border: none
}
/*$$$$ options-container $$$$ */

/*$$$$ Wallet Component $$$$ */
 
.wallet-types ul li {
cursor: pointer;
display: inline-flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
color: var(--greyscale-500, #64748B);
text-align: right;
 
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
margin-left: 10px;
}
.wallet-types ul li.active {
cursor: pointer;
display: inline-flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F1FAEE;
color: #70D44B;
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
.filterWallet{
display: flex;
width: 270px;
height: 40px;
padding: 8px 12px 8px 17px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F8FAFC;
color: var(--greyscale-500, #64748B);
text-align: center;
font-family: MadaniArabic-Medium;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
background-image: url('./Assets/images/calendar-minus\ 1.svg'); 
background-position: calc(100% - 10px) center; 
background-repeat: no-repeat;
background-size: 6%;

}
.done-add-range{
display: flex;
width: 142px;
padding: 8px 0px 9px 0px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
}
.cancel-add-range{
margin-right: 20px;
display: flex;
width: 135px;
height: 38px;
padding: 8px 44px 9px 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
border: 1px solid #EEE;
background: #FFF;
color: #9BA0B1;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 114.286% */
}
 
/*$$$$ Wallet Component $$$$ */
 

