@font-face {
  font-family: 'MadaniArabic-SemiBold';  
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Semi-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Regular';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Medium';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-ExtraLight';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Extra-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MadaniArabic-Light';
  src: url('./Assets/fonts/alfont_com_Madani-Arabic-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Amiri', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  direction: rtl;
  overflow-x: hidden;
}

/* $$$$ Right Menu $$$*/
.app-wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 20px;
}

.content-wrapper {
  flex: 1;
  padding: 20px;
}
.navMenu{
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
margin-right: -65px;

}

.right-menu {
background: var(--additional-white, #FFF);
box-shadow: 10px 10px 50px 0px rgba(100, 116, 139, 0.04);
width: 250px;
height: 100vh;
color: white;
padding: 20px;
box-sizing: border-box;
direction: rtl;
}
.menu-logo{
width: 205px;
height: 23px;
flex-shrink: 0;
color:black;
border-bottom: 1px solid #F1F5F9;
padding-bottom: 55px;
font-family: MadaniArabic-SemiBold;
}
.list-group{
margin-right: -45px;
}
.menu-title{
color: var(--greyscale-400, #94A3B8);
font-family: MadaniArabic-SemiBold;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 19.2px */
padding-top: 25px;
padding-bottom: 20px;
}
.menu-item {  
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
}
.menuLastItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
padding-bottom: 20px;
}
.menuLastItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);

}
.menuSettingsItem{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
margin-right: 39px;

}
.menuItemActive{
display: flex;
width: 218px;
height: 48px;
padding: 0px 16px;
justify-content: flex-start;
align-items: center;
gap: 16px;
border-radius: 12px;
background: rgba(112, 212, 75, 0.09);
}

.menu-item:last-child {
  border-bottom: none;
}
.ulElementLogo{
width: 20px;  
height: 20px;  
}
.ulActiveElement{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
 
.ulElement{
color: var(--greyscale-500, #64748B);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 13px;
font-style: normal;
font-weight: 200;
line-height: 160%;  
letter-spacing: 0.2px;
}
.lastItemBorder{
  border-top: 1px solid #F1F5F9;
  width:218px;
  margin-top: 18px;
  margin-bottom: 18px;
}
  /* $$$$ Right Menu $$$$*/

  /* $$$$ Header Component  $$$$ */
.mainPage{
  flex: 1;
  padding: 20px;
} 
.mainPageTitle{
color: var(--greyscale-900, #0F172A);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
letter-spacing: 0.2px;
}
.searchInput{
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
}
.input-box{
position: relative; 
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}

.input-box i {
position: absolute;
right: 13px;
top:12px;
color:#ced4da;
width: 20px;
height: 20px;
flex-shrink: 0;

}
.inputSearch:focus{
  outline: none;
}
.inputSearch{
padding-right: "40px";
display: flex;
width: 263px;
height: 48px;
padding: 0px 16px;
justify-content: flex-end;
align-items: center;
gap: 12px;
flex-shrink: 0;
padding-right: 40px;
border-radius: 12px;
border: 1px solid var(--greyscale-200, #E2E8F0);
}
.notificationIcon{
display: flex;
width: 24px;
height: 45px;
padding: 3px 4px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.notificationDot{
width: 8px;
flex-shrink: 0;
fill: var(--, linear-gradient(180deg, #257659 0%, #124734 100%));
stroke-width: 1px;
stroke: var(--additional-white, #FFF);
z-index: 99999;
margin-left: -12px;
height: 36px;
position: absolute;
}
.profile-section{
display: contents;
width: 182px;
justify-content: space-between;
align-items: center;

}
.profile-photo{
width: 40px;
height: 40px;
flex-shrink: 0;
border-radius: 40px;
background:  lightgray 50% / cover no-repeat;
margin-right: 21px;

} 
.user-info{
display: flex;
flex-direction: column;
align-items: flex-end;
gap: 2px;
}
.user-name{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-right: 15px;

}
.user-title{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-left: 42px;
margin-top: -5px;

}
.arrow-down{
width: 16px;
height: 16px;
flex-shrink: 0;
position: unset;
}
  /* $$$$ Header Component $$$$ */

  /* $$$$ Notification Component $$$$ */ 
  /* $$$$ Notification Component $$$$ */ 

.notification-popUp{
  position: fixed;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  top: 0px;
  left: 5px;  
  margin-top: 111px;
}
.notification-header{
  display: flex;
}
.notification-title{
color: var(--black-01, #2C3659);
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-top: 15px;
padding-right: 15px;
}
.notification-counter{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
padding-right: 15px;

}
.notification-settings{
width: 20px;
height: 20px;
flex-shrink: 0;
position: absolute;
left: 5px;
margin-top: 15px;
margin-left: 15px;
}
 

.center-content {
  display: flex;
  align-items: center;
}

/* Add margin to separate elements */
.margin-bottom {
  margin-bottom: 20px;
}
.new-notification-icon{
display: flex;
width: 38px;
height: 38px;
padding: 8.5px 8px 7.5px 8px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: #EAFFE3;
margin-top: -26px;

}
.new-notification{
width: 252px;
color: var(--black-01, #2C3659);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 179%;
padding-right: 10px;
padding-bottom: 0px;
}
.mission-title{
width: 252px;
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.mission-date{
width: 252px;
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
/* $$$$ Mission Component $$$$$ */
#mission-attachment{
margin-top:21px;
margin-right: 14px;
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
letter-spacing: 0.2px;
}
.attach-profile{
width: 38px;
height: 38px;
flex-shrink: 0;
border-radius: 38px;
background: url('Assets/images/Ellipse\ 3.svg'), lightgray 50% / cover no-repeat, #70D44B;
}
#mission-attch-container{
margin-top:21px;
margin-right: 1px;
width: 50%;
}
#mission-attch-section{
display: flex;
width: 340px;
height: 100px;
flex-shrink: 0;
border-radius: 10px;
border: 1px solid #F1F5F9;
background: var(--white-general, #FFF);
}
.missionPage{
  margin-top:20px;
}
.mission-active{
display: inline-flex;
height: 40px;
padding: 8px 20px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F1FAEE;
}
#mission-span-active{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
}
.mission-type{
display: inline-flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
}

#mission-type-span{
color: var(--greyscale-500, #64748B);
text-align: right;  
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
letter-spacing: 0.2px;
}
.filter-container{
display: flex;
width: 99px;
height: 40px;
padding: 8px 12px 8px 17px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #F8FAFC;
}
.filter-container-span{
color: var(--greyscale-500, #64748B);
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
}
.Add-New-Mission{
  display: flex;
width: 134px;
height: 40px;
padding: 8px 12px 8px 17px;
justify-content: center;
align-items: center;
gap: 8px;
flex-shrink: 0;
border-radius: 8px;
background: #124734;
}
.Add-New-Mission-btn{
color: #FFF;
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.2px;
}
.missions-section{
width: 100%;
height: 100%;
}
.mission-container{
margin-top: 25px;
width: 1205px;
height: 121px;
flex-shrink: 0;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
}
.mission-span-1{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
}
.mission-span-2{
color: var(--black-01, #2C3659);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-child{
  padding:10px 30px;
}
.mission-info{
display: inline-flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin-top: 10px;
}
.mission-price{
display: flex;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: rgba(112, 212, 75, 0.11);
margin-left: 10px;
}
.mission-price-span{
color: #70D44B;
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-info-child{
display: flex;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: var(--lgrey-02, #F9F9F9);
margin-left: 10px;

}
.mission-info-child-span{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
padding-right: 5px;
}
.location-icon{
width: 11px;
height: 13.57px;
stroke-width: 1.5px;
stroke: #9BA0B1;
}

.mission-status{
display: flex;
width: 81px;
height: 28.459px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: var(--secondary-amber-50, #FFFBEB);
margin-top: 10px;
margin-left: 10px;

}
.mission-status-span{
color: var(--secondary-amber-500-base, #F6A723);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.mission-status-Evaluation-span{
color: var(--secondary-amber-500-base, #F6A723);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
.mission-status-Evaluation{
display: flex;
width: 81px;
height: 28.459px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: var(--secondary-amber-50, #FFFBEB);
margin-top: 10px;
margin-left: 10px;
}
.mission-status-in-progress{
display: flex;
width: 104px;
height: 28px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: rgba(195, 242, 203, 0.50);
margin-left: 10px;
}
.mission-status-span-in-progress{
color: var(--green-01, #4CD964);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.assigned-to-img{
display: flex;
height: 19px;
justify-content: flex-end;
align-items: flex-end;
gap: -4.75px;
border-radius: 19px;
background: lightgray 50% / cover no-repeat, #70D44B;
}
.mission-assigned-span-child-1{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
margin-left: 3.5px;
}
.mission-assigned-span-child-2{
color: var(--da-black-03-line, #292E32);
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;
}
.mission-assigned{
display: flex;
width: 81px;
height: 28.459px;
padding: 6px 8px;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 8px;
background: var(--lgrey-02, #F9F9F9);
margin-top: 10px;

}
.mission-assigned-span{
color: var(--grey-01, #A7AEC1);
text-align: right;
 
font-family: MadaniArabic-Medium;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%;  
}
.mission-assigned-more-one{
display: flex;
width: 100px;
height: 28px;
padding: 5px 15.364px 4px 14px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}
.assinged-more-two{
  margin-right: -9px;
}
.assinged-more-three{
  margin-right: -9px;
}
.mission-status-late{
display: flex;
width: 104px;
height: 28px;
padding: 8.757px 13.135px;
justify-content: center;
align-items: center;
gap: 10.946px;
flex-shrink: 0;
border-radius: 54.73px;
background: rgba(230, 0, 25, 0.09);
}
.mission-status-span-late {
color: var(--red-01, #E60019);
text-align: center;
font-family: MadaniArabic-Regular;
font-size: 10.946px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 17.514px */
}
.more-icon{
  position: absolute;
  left: -20px;
}
/* $$$$ Mission Details Component $$$$ */
.Details-PopUp-Container{
width: 802px;
flex-shrink: 0;
margin: auto;
width: 50%;
padding: 10px;
border-radius: 10px;
background: var(--white-general, #FFF);
box-shadow: 0px 4px 120px 0px rgba(169, 173, 180, 0.15);
margin-top: -190px;
position: absolute;
z-index: 999999999999999;
right: 30%;
left: 50%;
top: 40%;
height: auto;
}
 
.mission-details{
display: flex;
height: 40px;
padding: 8px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #F9F9F9;
width: 25%;
}
.mission-finish-status-span{
  color: var(--secondary-amber-500-base, #70D44B);
  text-align: center;
  font-family: MadaniArabic-Regular;
  font-size: 10.946px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  
}
.mission-finish-status{
  display: flex;
  width: 104px;
  height: 28px;
  padding: 8.757px 13.135px;
  justify-content: center;
  align-items: center;
  gap: 10.946px;
  flex-shrink: 0;
  border-radius: 54.73px;
  background: rgba(195, 242, 203, 0.50);
  margin-left: 10px;

}
.mission-details-span{
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
}
.details-popup-border{
border-top: 1px solid #F1F5F9;
width:100%;
margin-top: 18px;
margin-bottom: 18px;
}
#mission-range{
  margin-top: 25px;
  margin-right: 1px;
}
#mission-range-span{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 22.4px */
letter-spacing: 0.2px;
}
#mission-details-range{
  margin-top: 21px;
}
.assign-mission-to{
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.2px;
}
#assign-mission-to{
margin-top:21px;
margin-right: 1px;
}
.assign-date{
color: #A7AEC1;
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; 
}
#assign-date{
margin-top:21px;
margin-right: 1px;
}
#assign-people{
margin-top:21px;
margin-right: 1px;
}
.assigned-user{
color: var(--da-black-03-line, #292E32);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.assign-user-photo{
margin-left: 5px;
width: 26px;
height: 26px;
flex-shrink: 0;
border-radius: 26px;
background:  lightgray 50% / cover no-repeat, #70D44B;
}
.assign-user-name{
  margin-left:35px;
}
.attach-user{
color: var(--da-black-03-line, #292E32);
text-align: right;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%;  
margin-top: 20px;
margin-right: 20px;
}
.attach-userName{
  margin-left:35px;
}
.attach-userPhoto{
margin-left: 5px;
margin-top: 15px;
width: 26px;
height: 26px;
flex-shrink: 0;
border-radius: 26px;
background:  lightgray 50% / cover no-repeat, #70D44B;
}
.attach-farmPhoto{
  margin-left: 5px;
  margin-top: 15px;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  border-radius: 26px;
  background:  lightgray 50% / cover no-repeat, #70D44B; 
}
attach-farm{
  margin-left:35px;
  
}
.attach-status{
color: #C11818;
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
margin-right: 32px;
}
.farm-owner{
color: var(--grey-01, #A7AEC1);
text-align: right; 
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%;  
margin-top: -10px;
margin-right: 32px; 
width: 100%;

}
.farm-owner-date{
color: var(--grey-01, #A7AEC1);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
margin-right: 9.5px;
}
.send-alert{
width: 90px;
height: 45px;
display: inline-flex;
padding: 6.769px 14.038px 7.154px 14.038px;
justify-content: center;
align-items: center; 
border-radius: 12.692px;
background: #70D44B; 
margin-top: 30px;
margin-right: 75px;
}
.send-alert span{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 11.846px;
font-style: normal;
font-weight: 400;
line-height: 13.538px;  
}
.mark-completed{
display: flex;
padding: 8px 27.5px 9px 26.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #9BA0B1;
margin-left: 10px;
margin-top: 10px;
width: 25%;
}
.mark-completed span{
 color: #FFF;
 font-family: MadaniArabic-Medium;
 font-size: 14px;
 font-style: normal;
 font-weight: 400;
 line-height: 16px;
}
.mark-completed-evaluation{
display: flex;
padding: 8px 27.5px 9px 26.5px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-left: 10px;
margin-top: 10px;
width: 25%;
}
.mark-completed-evaluation span{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;  
 }
.download-section{
width: 90px;
height: 45px;
flex-shrink: 0;
background: var(--white-general, #FFF);
display: inline-flex;
padding: 6.769px 14.038px 7.154px 14.038px;
margin-top: 30px;
margin-right: 75px; 
justify-content: center;
align-items: center; 
}
 
#mission-description{
margin-top:21px;
margin-right: 14px;
color: var(--greyscale-900, #0F172A);
text-align: right;
font-family: MadaniArabic-SemiBold;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
letter-spacing: 0.2px;
}
#mission-description-content{
margin-right: 14px;
}
.mission-description-content{
align-self: stretch;
color: var(--greyscale-500, #64748B);
text-align: right;
font-family: MadaniArabic-Regular;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 160%; 
}
#mission-button-action{
margin-right: 14px;
margin-top:21px;
margin-bottom: 25px;
}
.agree-btn{
display: inline-flex;
padding: 8px 32px 9px 32px;
justify-content: center;
align-items: center;
border-radius: 15px;
background: #124734;
margin-left: 10px;
}
.decline-btn{
display: flex;
width: 131px;
height: 53px;
padding: 8px 41px 9px 41px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 15px;
background: #C11818;
}
.agree-decile-title{
color: #FFF;
font-family: MadaniArabic-Medium;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
}
/* $$$$ Mission Details Component $$$$ */

/* $$$$ Login Component $$$$ */
.half, .half .container > .row 
{
  height: 100vh;
}
.half .contents, .half .bg 
{
 width: 50%;
}
.half .contents .form-group, .half .bg .form-group {
overflow: hidden;
margin-bottom: 0;
border: 1px solid #efefef;
padding: 15px 15px;
border-bottom: none;
position: relative;
}
.half .contents .form-group label, .half .bg .form-group label {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
-webkit-transition: .3s all ease;
-o-transition: .3s all ease;
transition: .3s all ease; 
}
.half .contents .form-group input:focus + label, .half .bg .form-group input:focus + label
{
margin-top: -20px;
}
.half .contents .form-group.first, .half .bg .form-group.first 
{
border-top-left-radius: 7px;
border-top-right-radius: 7px; 
}
.half .contents .form-group.last, .half .bg .form-group.last
 {
 border-bottom: 1px solid #efefef;
 border-bottom-left-radius: 7px;
 border-bottom-right-radius: 7px;
 }
.half .contents .form-group label, .half .bg .form-group label {
font-size: 12px;
display: block;
margin-bottom: 0;
color: #b3b3b3; 
}
.half .contents .form-group.field--not-empty label, .half .bg .form-group.field--not-empty label
{
margin-top: -20px; 
}
.half .contents .form-control, .half .bg .form-control 
{
border: none;
padding: 0;
font-size: 20px;
border-radius: 0;
 }
.half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus 
{
outline: none;
-webkit-box-shadow: none;
box-shadow: none; 
}

.half .bg {
width: 639px;
height: 976px;
flex-shrink: 0;

}

.half a {
color: #888;
text-decoration: underline;
 }

.half .btn {
height: 54px;
padding-left: 30px;
padding-right: 30px; 
}

.half .forgot-pass {
position: relative;
top: 2px;
font-size: 14px;
}
.social-login a {
display: block;
text-decoration: none;
display: block;
position: relative;
text-align: center;
color: #fff;
margin-bottom: 10px;
}
.social-login a:hover 
{
color: #fff;
}
.social-login a.facebook {
background: #3b5998; 
}
.social-login a.facebook:hover {
background: #344e86;
}
.social-login a.twitter 
{
background: #1da1f2;
}
.social-login a.twitter:hover 
{
background: #0d95e8;
}
.social-login a.google {
background: #ea4335; 
}
.social-login a.google:hover {
background: #e82e1e;
}

.control {
 display: block;
 position: relative;
 padding-left: 30px;
 margin-bottom: 15px;
 cursor: pointer;
 font-size: 14px; 
}
.control .caption {
 position: relative;
 top: .2rem;
 color: #888;
 }

.control input {
 position: absolute;
 z-index: -1;
 opacity: 0;
 }

.control__indicator {
 position: absolute;
 top: 2px;
 left: 0;
 height: 20px;
 width: 20px;
 background: #e6e6e6;
 border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #007bff; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #1a88ff; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

.login-img{  
width: 453px;
height: 181px;
flex-shrink: 0;
margin-top: 80px;
margin-right: 135px;
}
.content-container{
margin-top: -148px;
margin-left: 32px;
}
.arabic-home-span{
text-align: center;
color: #F3EFA1;
font-family: MadaniArabic-Medium;
font-size: 31.079px;
font-style: normal;
font-weight: 400;
line-height: 39.257px;
margin-right: 282px;

}
.arabic-home-span-1{
color: #FFF;
text-align: center;
font-family: MadaniArabic-ExtraLight;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px; 
margin-right: 172px;
margin-top: 12px;
position: absolute;

}
.arabic-home-h3{
color: #FFF;
text-align: center;
font-family: MadaniArabic-Medium;
font-size: 31.079px;
font-style: normal;
font-weight: 400;
line-height: 39.257px;
}
.content-slider{
margin-top: 150px;
 margin-right: 350px;
}
.big-section{
width: 100%;
height: 40px;
flex-shrink: 0;
margin : 45px 45px 45px 45px

}


/* New Version For Login Component  */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:45px 45px 45px 45px;
}

.login-form {
 max-width: 400px;
 padding: 20px;
 background-color: #ffffff;
 border-radius: 8px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-info {
padding: 20px;
text-align: center;
background-color: #124734;
}
.img-1 {
max-width: 100%;
height: auto;
}
.dagin-platform-icon{
width: 118px;
height: 28px;
flex-shrink: 0;
background: url('Assets/images/WhatsApp\ Image\ 2023-05-20\ at\ 12.57\ 1.png'), lightgray 50% / cover no-repeat;
}
.dagin-word{
color: #05A357;
font-family: MadaniArabic-SemiBold;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%;
letter-spacing: 0.2px;
}
.welcome-to{
color: var(--greyscale-900, #1A202C);
text-align: center;
font-family: MadaniArabic-SemiBold;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 40px */
letter-spacing: 0.2px;
}
.register-hightlight{
color: var(--greyscale-600, #718096);
text-align: center;
font-family: MadaniArabic-Light;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
letter-spacing: 0.3px;
}

/* $$$$ Login Component $$$$ */
  